*{
    margin:0;
}
body{
    background-color: rgb(49, 44, 37);
}

header{
    font-family: 'Monoton', sans-serif;
    font-size: 8vh;
    letter-spacing: 2vh;
    color:#F4EEA9;
    text-shadow: #F4EEA9 0px 0px 5px;

    display:flex;
    justify-content: center;
    align-items: center;

    background-color:#064635;
    height: 11vh;    
}

.contenedora{
    display:flex;
}

.navegacion{
    height: 84vh;
    width: 15vw;
    background-color: #519259;
    color:#064635;
    display: flex;
    flex-direction: column;  
    box-shadow: rgb(0, 0, 0) 0px 0px 5px 1px;     
}

.barranav{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 8vh;
    width: 15vw;
    background-color: #F0BB62;
    box-shadow: #000000 0px 0px 5px 0px; 
    margin-bottom: 2vh; 

    font-family: 'Cabin Condensed', sans-serif;
    font-size: 32px;
    letter-spacing: 1px;
}

.contnav{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 6vh;
    width: 12vw;
    margin-left:2vh;
    margin-bottom:3vh;
    margin-top:2vh;
    background-color: #519259 ;
    box-shadow: #f0c170 0px 0px 0px 5px;  

    font-family: 'Cabin Condensed', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color:#f0c170;
    padding-top:5px;
    text-shadow: #F0BB62 0px 0px px;
}


.contenidoprincipal{
    height: 84vh;
    width: 75vw;
    background-color: #2e2920;
    display:flex;
    flex-wrap: wrap;
    margin:0;
   
}

.contenidotitulo{
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    box-sizing: border-box;
    width: 25vw;
    height: 57vh;
    background: #F0BB62;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px 1px; 
    background: linear-gradient(120deg, #f0bb62, #d1a354, #ac8542,93%,#6b5125);
}

.titulo{
    font-family: 'Monoton', sans-serif;
    margin-left:20px;
    margin-top:20px;
    font-size: 10vh;
    line-height: 100px;
    color:#064635;
    text-shadow:#064635 0px 0px 4px;
}

.contenidoimg{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 25vw;
    height: 57vh;
    background-color: #064635;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px 1px;   
}

.contenidopaleta {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 25vw;
    height: 57vh;
    background-color: #F0BB62;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px 1px;
}

.contenedor-paleta {
    text-align: center;
    height: 55vh; 
}

.textopaleta {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 46px;
    color: #05241c;
}

.paleta {
    width: 18vw;
    height: 39vh;
    border: 10px outset #05291f;
    box-shadow: #5f4721 0px 0px 5px 2px;
    margin-top: 30px;
}


.golf{
    display: flex;
    justify-content: center;
    align-items: center;
    width:22vw;
    height:44vh;
    border:10px outset #F0BB62;
    box-shadow:#05241c  0px 0px 10px 5px;
}

.coches2{
    display: flex;
    justify-content: center;
    align-items: center;
    width:7vw;
    height:14vh;
    border:2px outset #F4EEA9;
    box-shadow:#05241c  0px 0px 10px 5px;
}

.cont4{
    display: flex;
    width: 75vw;
    height: 27vh;
    background-color: #F0BB62;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px 1px;

    font-family: 'Cabin Condensed', sans-serif;
    font-size: 22px;
    text-align: justify;
    padding-right:40px;
    padding-left:40px;
    line-height: 24px;
    color:#064635;
}

.contenidosec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    height: 84vh;
    width: 9vw;
    background-color: #F0BB62;  
    box-shadow: rgb(0, 0, 0) 0px 0px 5px 1px;      
}

.contsec{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 9vw;
    height: 50vh;
    background-color: #519259;  
    box-shadow: rgb(0, 0, 0) 0px 0px 2px 1px;      
}

footer{
    height: 5vh;
    background-color:#F4EEA9 ;
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid #000000
}